p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail {
    width:100%;
    display: block;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
}
.profile-pic{
    width: 36px;
    border-radius: 36px;

}
.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}
.channel-name,
.stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.channel-name {
    margin-bottom: 4px;
}
.video-info-grid {
    display: grid;
    grid-template-columns:50px 1fr ;

}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
.video-preview {
    width: 325px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 40px;
}
body {
    margin: 0;
    padding-top:100px ;
    padding-left: 120px;
    padding-right: 24px;
    background-color: rgb(248, 246, 246);
}
.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    background-color: white;
    border-bottom-width:1px ;
    border-bottom-style:solid ;
    border-color: rgb(224, 223, 223);
    z-index: 100;
    
}
.left-section {
    display: flex;
    align-items: center;
}
.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h-menu {
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
.logo {
    height: 20px;
}
.search {
height: 40px;
width: 66px;
background-color: rgb(237, 237, 237);
border-width: 1px;
border-style: solid;
border-color:rgb(192, 192, 192); 
margin-left: -1px;
margin-right: 10px ;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
position: relative;
}
.search .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -30px;
    opacity:0;
}
.search:hover .tooltip {
    opacity: 1;
    transition: opacity 0.15s;
}

.voice {
height: 40px;
width: 40px;
border-radius:20px;
border: none;
background-color: rgb(225, 224, 224);
position: relative;
}
.voice .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    white-space:nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -30px;
    opacity:0;
}
.voice:hover .tooltip {
    opacity: 1;
    transition: opacity 0.15s;
}
.voice-icon {
   height: 24px; 
   margin-top: 4px;
}
.upload-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    white-space:nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -23px;
    opacity:0;

}
.upload-icon-container:hover .tooltip {
    opacity: 1;
    transition: opacity 0.15s;
}
.youtube-apps-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    white-space:nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -23px;
    opacity:0;
}
.youtube-apps-container:hover .tooltip {
    opacity: 1;
    transition: opacity 0.15s;
}
.notifications-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    white-space:nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -40px;
    opacity:0;
}
.notifications-icon-container:hover .tooltip {
    opacity: 1;
    transition: opacity 0.15s;
}
.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.05);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 0;
}
.search-bar::placeholder {
    font-family: Roboto,Arial;
    font-size: 16px;
}
.search-icon {
    height: 25px;
    margin-top: 4px;
}
.upload-icon {
    height: 24px;
}
.apps {
    height:24px;
}
.notifications-icon {
    height: 24px;
}
.user-pic {
    height: 32px;
    border-radius: 16px;
}
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  border-color: rgb(224, 223, 223);
  z-index: 200;
  padding-top: 5px;

}
.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 5px;
    right:5px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
}
.notifications-count-container {
    position: relative;
}
.notifications-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-family: Roboto,Arial;
    font-size: 10px;
    padding-left: 6px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}
.sidebar-link:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}
.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link,
.div {
    font-family: Roboto,Arial;
    font-size: 10px;

}
@media (max-width: 600px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}